{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxBracketSameLine": true
}
